/*
.model-content
{
  width: 20px;
  height: 30px;
  background:rgba(0,0,50,0.5);
  color:#fff;
  opacity: 0.7
  border-radius: 4px;
  border-color: grey
  text-align: center;
  padding: 20px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
}*/
.model-content
{
  width: 30px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  /*align-items: center;*/
  text-align: center;
  font-size: 20px;
  color:black;
}