body
{
	margin:0;
	padding:0;
	background:url(images.jpeg) ;
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}
.login-box
{
	margin-top:50px;
	width:520px;
	height:420px;
	background:rgba(0,0,50,0.5);
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing: border-box;
	align-items: center;
}
h1{
	margin:20;
	padding:0 0 20px;
	text-align: center;
	font-size:22px;
	font-family:fantasy;
}

.login-box input[type="text_field"], input[type="date_field"]
{
	border: 1px;
	border-color: black;
	border-bottom: :1px solid #fff;
	background:white;
	outline:1px;
	height:40px;
	color:#fff;
	font-size:16px;
	border-radius: 50px;
	margin-left: 20px;

}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.login-box input[type="password"]
{

	border: 1px;
	border-bottom: :1px solid #fff;
	background:white;
	outline:white;
	height:40px;
	color:white;
	font-size:16px;	

}


[type="submit"]
{
	border:none;
	outline: none;
	height:40px;
	width:100px;
	font-weight: 200px;
	margin:20px 20px 10px 0px;
	border-radius: 50px;

}
@media screen and (max-width: 500px) {
	.login-box
	{
		background-color: #F0FFFF;
		color:black;
		padding-top: 200px;
		margin-top: 100px;
	}
  input[type="text"], input[type="password"],input[type="date_field"], input[type=submit] {
    width: 80%;
    margin-top: 0;
    margin-left: 40px;
    margin-left: 40px;
    /*padding: 12px;*/
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	resize: vertical;
  	outline: black;
  }
  h1{
  	align-items: center;
  	text-transform: uppercase;
  	font-weight: 700;
  	color: #800000;
  }
  label{
  	text-align:center;
  }
 
}
