#box-side
{
    width:500px;
    margin:0px ;     //Make this 0;
    position: absolute;
    right:0;          //Add Right and remove left
    top:0;            //Make this 0;
    text-align:right; 
    color: green;
}