.view{
 font-family: Arial;
  padding: 100px;
  /*background: #f1f1f1;*/
  text-align:center;
  text-decoration: none;
  position:absolute;
  margin-top:0px;
  }
h1{
  font-family: Arial;
  padding: 0px;
  font-size:40px;
  font-style: bold;
}
.login-box
{
  margin-top:50px;
  background:rgba(0,0,50,0.5);
  color:#fff;
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%);
  align-items: center;
}