.view{
  font-family: Arial;
  /*background: #f1f1f1;*/
  text-align:center;
  text-decoration: none;
  position:absolute;
  margin-top:0px;
  }
h1{
  font-family: Arial;
  padding: 0px;
  font-size:40px;
  font-style: bold;
}
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
  color:#8B0000;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
.vertical-right-menu {
  width: 200px;
  float: right;
}
.vertical-right-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}
.vertical-right-menu a:hover {
  background-color: #ccc;
  color:#8B0000;
}
@media screen and (max-width: 500px) {
  .navbar h1
  {
    float:none;
    display: block;
  }
  .navbar a {
    float: none;
    display: block;
  }
  .logo{display:none;
  }
  .img
  {
    float: none;
    position:relative;
    margin-left: 20px;
    align-self: top-left;
  }
}